<h1>Reply to a peep</h1>

<form action="/replies" method ="post">
  Reply to peep: <input type="text" name='content' placeholder="reply to peep">
  <input type="hidden" name="peep_id" value=<%=@peep_id%> >
  <input type="submit" value="Reply">
</form>