body {
  font-family: sans-serif;
  background-image: url(/images/redox_01.png);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

a {
  color: #b77843;
}

.button {
  display: inline-block; 
  text-decoration: none;
  width: 120px;
  cursor: pointer;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px; 
  border: 3px solid white;
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 2px rgba(0,0,0,0.4); /
}

.button.highlighted {
  background-color: black;
}

header {  
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  padding: 0 20px;
}

  header > * {
    margin: auto 0;
  }

  header #logo {    
    display: flex;   
    margin-right: 20px;  
    font-size: 20px; 
  }

  header a {
    color: white;
  }

  header #user-peeps {
    flex: 1; 
    -webkit-flex: 1;
    text-align: right;  
  }

  header #user-peeps > * {
    display: inline-block;
  }

  header #user-peeps #welcome-message {
    font-size: 20px;
  }

#container {
  background-color: #EEE;
  margin: 40px;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
}

.peep {
  background-color: #EEE;
  margin: 10px inherit;
  padding: 15px 10px;
  border: 2px solid;
  border-radius: 4px;
}

 .peep .content {
    margin: 10px inherit;
  }

.flash {
  text-align: center;
  margin: 5px;
  padding: 5px;  
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}

  .flash.notice {
    background-color: rgba(67,183,120,0.75);
  }

  .flash.error {
   background-color: rgba(169,29,42,0.75); 
  }

h1 {
  font-size: 22px ;
}

form {
  text-align: left;
}

form p {
    margin: 10px 0;
  }

form input[type="text"], form input[type="password"] {
  border: 1px solid black;
  font-size: 16px;
  width: 200px;
}

footer {
  display: flex;
  background-color: rgba(0,0,0,0.2);
  height: 70px; 
  text-align: center;
}

footer > * {
    margin: auto inherit;
}

/*section {
  padding-left: 75px
}*/

footer p {
  padding: 5px 25px;
}


  .footer, .push {
    height: 70px;
  }