<p><%= @user.email %>, please enter your new password</p>
<form action="/users/reset_password" method="post">

	Enter new password <input type="password" name="password">

	Confirm new password <input name="password_confirmation" type="password">

	<input type="hidden" name="password_token" value="<%= @user.password_token %>">

	<input type="submit" value="Change password">
</form>