<footer>
	<a href="http://www.makersacademy.com/"><img src="/images/makers-logo.png"></a>
  <section>
  	<p></p>
    I built this page during week 6 at 
    <a href="http://www.makersacademy.com">Makers Academy, a highly selective 12 week coding course in London</a>.
    </p>
    <p>This page uses Ruby, Sinatra, HTML and CSS.
    </p>
  </section>
</footer>