<h1>Welcome to Chitter</h1>

Check out the peeped peeps:

  <ul id='peeps'>
    <% @peeps.reverse_each do |peep| %>
      <%= partial :peep, :locals => {:peep => peep}  %>
    <% end %>
  </ul> 









